/* --------------------------------- */
/* 共通 */

:root {
    --main-color: #003366;
    --accent-color: #006699;
    --sub-color:#FF6600;
    --dark-main-color: #333;
    --base-bright-color: #fff;
    --base-bk-color: #ddd;
    --large-width: 1000px;
    --middle-width: 800px;
    --small-width: 600px;
}

body {
    margin: 0;
    font-family: "Open Sans","Noto Sans JP", -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Hiragino Sans", "Hiragino Kaku Gothic ProN", Helvetica, "游ゴシック Medium", meiryo, sans-serif;
    font-size: 16px;
    letter-spacing: 0.1rem;
    background-color: var(--base-bright-color);
    color: var(--dark-main-color);
}

.accent{
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main__color{
  color: var(--main-color);
}

.accent__color{
  color: var(--accent-color);
}

.sub__color{
  color: var(--sub-color);
}

.container {
    padding: 5rem 10rem; 
}

li {
    list-style: none;
    margin-right: 1rem;
    margin: 1rem;

}

a {
    color: var(--text-bright-color);
    text-decoration: none;
}

h2{
  font-weight:normal;
  line-height: 1.5;
}

.wrapper{
  overflow:hidden;
}

button {
  /* 背景色を無色に */
  background: transparent;
  /* 枠線を消す */
  border: none;
  /* クリックした際に枠線をnone消す */
  outline: none;
  /* 影を消す */
  box-shadow: none;
}

.title{
  text-align: center;
  font-size: 2rem;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: var(--main-color);
}

.subtitle{
  text-align: center;
  line-height: 1.5;
}


/** クラス指定の末尾の文字列が[__text]だったら*/
div[class$="__text"],
[class*="__text "]{
  width: 100%;
  line-height: 3rem;
  text-align: center;
}

/* 共通 */
/* --------------------------------- */

/* --------------------------------- */
/* header */

.header__box{
  position: absolute;
  top:0;
  left: 0;
}

.header__rogo{
  width: 25%;
  z-index: 998;
}

.btn-gNav{
  display: none;
}

.gnav{
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
}

.gnav__link{
  width:100% ;
  margin-left: 3rem;
  color: var(--dark-main-color);
}

.gnav__list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.gnav__list li+ li {
  border-left: 1px solid var(--main-color);
  
}

/* スクロールしたらヘッダーメニューのフォントカラー変更 */
.headerColorScroll {
  background:var(--accent-color)!important;
  transition: color 0.4s ease-out;
}


.header {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    background: transparent;
}

/*デフォルトのマウスカーソルを非表示にする*/
html,
body,
a {
  cursor: none;
}

/*独自のマウスカーソルを作成*/
.cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
  transform: translate(0, 0);
  pointer-events: none;
}

/*aタグにホバーした時に見た目変化*/
.cursor.cursor--hover {
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  background:var(--accent-color);
}


/* header */
/* --------------------------------- */

/* --------------------------------- */
/* conA */


#mv {
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}

/* ボケ解消 */
#mv {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6));
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.mv-bg {
	-webkit-transform: translateX(-50%);
	left: 50%;
	max-height: initial;
	max-width: initial;
	min-height: 100vh;
	min-width: 100%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	z-index: -1;
}

.conA{
  position: relative;
}

.conA__btn{
  position: fixed!important;
  top: 0%;
  right: 0%;
  width: 10%;
  z-index: 999;
}

.conA__box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%)!important;
  -webkit-transform: translateX(-50%)!important;
  -ms-transform: translateX(-50%)!important;
  width: 100%;
}

.conA__btnA,
.conA__btnB{
  width: 20%;
  margin: 0 3rem;
}

.conA__text{
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%)!important;
  -webkit-transform: translateX(-50%)!important;
  -ms-transform: translateX(-50%)!important;
}

.conA__image{
  width: 100%;
}

/* conA */
/* --------------------------------- */

/* --------------------------------- */
/* conB */



.conB__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
}

.conB__image{
  width: 25%;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.conB__image:last-child{
  margin-right: 0;
}

/* conB */
/* --------------------------------- */
/* conC */

.conC__box{
  display: block;
}

.conC__image{
  width: 100%;
  margin: 10rem 0;
}

.loop__wrap {
  display: flex;
  width: 100vw;
  height: 300px;
  overflow: hidden;
  
}

.loop__wrap img {
  width: auto;
  height: 100%; 
  padding: 0 3rem
}

@keyframes loop {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

.loop__wrap img:first-child {
  animation: loop 50s -25s linear infinite;
}

.loop__wrap img:last-child {
  animation: loop2 50s linear infinite;
}

/* conC */
/* --------------------------------- */
/* conD */

.conD__text{
  margin-top: 10rem;
}

.conD__box{
  display: flex;
  justify-content:space-evenly;
  align-items: flex-start;
  margin: 10rem 0;
}

.conD__image{
  width: 30%;
}

/* conD */
/* --------------------------------- */
/* conE */

.conE__box{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}




.conE__image{
  position: absolute;
  top: -2%;
  left: 0%;
  width: 100%;
}

.conE #mv{
  aspect-ratio: 16 / 9;
  max-height: 80vh;
  
}

.img01{
z-index: 0;
}

.img02{
z-index: 200;
}

.text02{
  left: 50%;
}

.img03{
z-index: 300;
margin-bottom: 0!important;
}

.conE .mv-bg{
    width: 60%;
    -webkit-transform: translateX(-50%);
    top: -15%;
    left: 80%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    transform: translateX(-50%);
    z-index: -1;  
    object-fit:contain

}

.conE .mv-bg2{
    width: 60%;
    -webkit-transform: translateX(-50%);
    top: -15%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    transform: translateX(-50%);
    z-index: -1;  

}

.conE__text{
  position: absolute;
  top:0;
  width: 50%!important;
  margin: 0 3rem;
}

.conE__text h2{
  margin: 0;
}



.conE__text span{
  font-size: 40px;
}



/* conE */
/* --------------------------------- */
/* conF */

.conF{
  height: 130vh;
  margin-bottom: 10rem;
}

.conF .loop__wrap{
  margin-top: 5rem;
  position: absolute;
  z-index: 400;
}
.mini__container{
  margin-top: 20rem;
}

.conF__boxB{
  margin-top: 1rem;
  margin-bottom: 10rem;
}

.mini__container,
.conF__boxB{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  z-index: 500;
}

.conF__image{
  width: 30%;
  margin-bottom: 3rem;
}



.blog p{
  text-align: center;
}

.tag__box{
  border: 2px solid var(--accent-color);
  border-radius: 20px;
	width: 90%;
	height: 400px;
  padding: 1rem;
}

.blog{
  width: 30%;
}

.sortNav {
  overflow: hidden;
  margin-bottom: 30px;
  padding: 0;
}
.sortNav li {
  padding: 1rem ;
  margin: 1rem ;
  list-style:none;
  float: left;
  margin-left: 10px;
  color: var(--base-bright-color);
  background-color: var(--accent-color);
}


/* conF */
/* --------------------------------- */
/* conG */

.conG__image{

  min-height: 100vh;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-top: 20rem;
  position: relative;
  z-index: 500;
}



/* conG */
/* --------------------------------- */
/* conH */


.conH{

  min-height: 100vh;
  background-image: url(../img/city.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-top: 0%;
}

.send__btn{
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.required{
  color: var(--sub-color);
}

.frm {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

.frm p{
  font-family: "Noto Sans JP";
}

.frm__item {
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.frm__item-label{
  width: 100px;
}


.frm__item-label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background:var(--accent-color);
  color: var(--base-bright-color);
  font-size: 14px;
}

.frm__item-input,
.frm__item-textarea {
  border: none;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background:var(--base-bk-color);
  font-size: 18px;
}

.frm__item-input{
  height: 48px;
}

.frm__item-textarea {
  height: 216px;
}



/* conH */
/* --------------------------------- */
/* conI */



/* conI */
/* --------------------------------- */


/* hamburger */






/* hamburger */
/* --------------------------------- */

/* --------------------------------- */
/*----- footer -----*/



.footer{
  background-color: var(--main-color);
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 50%;
  bottom: 0; /*下に固定*/
  z-index: 800;
}

.foot__text h2,
.foot__text p{
  color: var(--base-bright-color);
}

.foot__image img{
  position: absolute;
  top:25%;
  left: 80%;
  width: 10%;
}

/*-----footer-----*/
/* --------------------------------- */
  
 /* ------------------------ */
/* phoneのときの制御 */
@media (max-width:599px) {

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .container {
    padding: 3rem!important;
}

section{
  margin: 0;
}

div[class$="__text"], 
[class*="__text "] {
 line-height: 2rem;
}

.conA{
  height: 100vh;
}

.conA .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.conA__box{
  display: block;
  width: 60%;
  margin: -3rem auto;
}

.conA__btn{
  width: 30%;
}

.conA__btnA,
.conA__btnB{
  margin: 0;
}
.conA__text{
  top: 25%;
}

.conA__image{
  width: 100%;
}

.conB{
  margin: 0;
}

.conB__box{
  display: block;
  margin: 0;
}

.conB__image{
  width: 100%;
  margin: 3rem 0;
}

.conC__image{
  display: none;
}

.conC__image__phone{
  width: 100%;
  margin-bottom: 10rem;
}

.conC__image__phone:last-child{
  margin: 0;
}

.conD__box{
  display: block;
  margin: 0;
}

.conD__image{
  display: none;
}

.conD__image__phone{
  width: 100%;
}

.conD__text{
  margin: 3rem 0;
}

.conE__image,
.conE #mv{
  display: none;
}

.conE__container{
  display: block;
  padding: 0 3rem;
}

.conE__box{
  width: 100%;
  height: 400px;
}

.conE__btn{
  width: 88%;
}

.conE__text{
  margin: 0;
  width: 100%!important;
  
}

.text02{
  left: 0;
}

.conF{
  height: 390vh;
  margin-top: 35rem;
}

.conF__boxA{
  display: block;
}

.conF__boxB{
  display: block;
  width: 100%;
  margin: 0;
}

.blog{
  width:100% ;
}

.blog p{
  padding: 1rem;
}

.conF__image{
  width: 100%;
}


.conF__box{
  display: block;
  
}

.conG{
  margin-top: 0;
}

.conG__image{
  min-height: 100px;
  margin-top: 45rem!important;
  margin: 0;
  background-position: center top;
}

.frm__item {
  flex-wrap: wrap;
}

.send__btn{
  width: 100%;
}

.frm__item-label-Required {
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 32px;
  font-size: 10px;
}

.frm__item-input {
  margin-left: 0;
  margin-top: 18px;
  height: 40px;
  flex: inherit;
  font-size: 15px;
}

.frm__item-textarea {
  margin-top: 18px;
  margin-left: 0;
  height: 200px;
  flex: inherit;
  font-size: 15px;
}
  

/* --------------------------------- */
/* header */
.header__rogo{
  width: 25%;
}

.hamburger .btn-gNav {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 30px;
  height: 24px;
  z-index: 12;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hamburger .btn-gNav span {
  position: absolute;
  width: 100%;
  height: 4px;
  background:var(--base-bk-color);
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.hamburger .btn-gNav span:nth-child(1) {
  top: 0;
}

.hamburger .btn-gNav span:nth-child(2) {
  top: 10px;
}

.hamburger .btn-gNav span:nth-child(3) {
  top: 20px;
}

.hamburger .btn-gNav.open span:nth-child(1) {
  background: #ffffff;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hamburger .btn-gNav.open span:nth-child(2),
.hamburger .btn-gNav.open span:nth-child(3) {
  top: 6px;
  background: #ffffff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.gnav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 1;
  padding-top: 50px;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-gNav {
  display: block;
}



.gnav.open {
    right: 0;
}

.gnav__list {
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    flex-direction: column;
    text-align: center;
    /*justify-content: center;*/
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 2rem 0;
}

.gnav__item {
    width: 86%;
    padding: 15px;
    border-bottom: var(--base-bright-color) 1px solid;
    z-index: 999;
    font-size: 1.5rem;
    text-align: center;
}

.gnav__link {
  display: block;
  margin: 0;
  color: var(--base-bright-color);
}

.gnav__list li+ li {
  border-left: 1px solid var(--base-bright-color);
  padding: 1rem 2rem;
  margin: auto 0;
}

.gnav__list li:first-child{
  padding: 1rem 2rem;
  margin: auto 0;
}

.hamburger .btn-gNav span {
  position: absolute;
  width: 100%;
  height: 4px;
  background:var(--base-bk-color);
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

/* header */
 /* --------------------------------- */
  /* footer */

.footer{
  height: 200px;
} 

.foot__image{
  width: 30%;
  top:47%;
}


/* footer */
/* --------------------------------- */
}


/* ------------------------ */
/* タブレットのときの制御 */
@media (min-width:600px) and (max-width:799px) {

  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .conC__image__phone{
    display: none;
  }

  .conD__text h2 br{
    display: none; 
  }

  .conD__image__phone{
    display: none;
  }


}
/* タブレットのときの制御 */
/* ------------------------ */

/* ------------------------ */
/* PCのときの制御 */
@media (min-width:800px)  {

  h1 {
    font-size: 100px;
  }

  h2 {
      font-size: 40px;
  }

  p {
      font-size: 18px;
      line-height: 3rem;
  }

  .conC__image__phone{
    display: none;
  }

  .conD__text h2 br{
    display: none; 
  }

  .conD__image__phone{
    display: none;
  }


}


/* PCのときの制御 */
/* ------------------------ */

/* ------------------------ */
/* ダークモードの対応 */
.div {
  color: light-dark(#333, #fff);
  background-color: light-dark(#fff, #333);
}
/* ダークモードの対応 */
/* ------------------------ */
